Options -Indexes
Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule !\.(css|js|icon|zip|rar|png|jpg|gif|pdf)$ index.php [L]

RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R,L]


#php_flag display_startup_errors on
#php_flag display_errors on
#php_value error_reporting 19
#php_value error_reporting 32759


#php_flag html_errors on
#php_flag  log_errors on
#php_value error_log  /home/path/public_html/domain/PHP_errors.log
